<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Karkas.Ornek.TypeLibrary.Ornekler.Musteri.Adi" value="Adı"/>
    
  </appSettings>  
    
    

  <connectionStrings>
    <clear/>
    <add name="Main" providerName="System.Data.SqlClient" connectionString="Integrated Security = SSPI; Persist Security Info=False;Initial Catalog=KARKAS_ORNEK;Data Source=.\SQLSERVER2008R2"/>
    <add name="KARKAS_ORNEK" providerName="System.Data.SqlClient" connectionString="Integrated Security = SSPI; Persist Security Info=False;Initial Catalog=KARKAS_ORNEK;Data Source=.\SQLSERVER2008R2"/>

  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
