<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <clear/>
    <add name="Main"
  connectionString="Integrated Security = SSPI; Persist Security Info=False;Initial Catalog=KARKAS_ORNEK;Data Source=localhost" />
    <add name="KARKAS_ORNEK"
  connectionString="Integrated Security = SSPI; Persist Security Info=False;Initial Catalog=KARKAS_ORNEK;Data Source=localhost" />

  </connectionStrings>

</configuration>