<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>

    <add key="RaporWebServiceSecurityModel" value="Basic" />
    <add key="RaporUser" value="builduser" />
    <add key="RaporPassword" value="123" />
    <add key="RaporCredentialsDomain" value="ATILLA" />
    <add key="RaporSunucuURL" value="http://localhost/ReportServer/ReportService.asmx" />

  </appSettings>


  <connectionStrings >
    <add name="Main"
       connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=STB_MTK;Data Source=localhost" />
    <add name="LocalPolicyStore2"
         connectionString="msxml://D:/atilla/projects/DotNetProjects/Core/Simetri.Core.DataUtil.TestConsoleApp/azmanStore3.xml" />

  </connectionStrings>


</configuration>