<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>

    <add key = "RaporWebServiceSecurityModel" value = "NTLM"/>
    <add key = "UseDefaultCredentials" value = "true"/>
    <add key = "RaporSunucuURL" value = "http://10.2.37.16/reportserver/reportservice.asmx"/>



  </appSettings>


  <connectionStrings >
    <add name="Main"
       connectionString="User ID=mtk_test;password=1234;Persist Security Info=False;Initial Catalog=STB_MTK;Data Source=MTKTEST" />
    <add name="LocalPolicyStore2"
         connectionString="msxml://D:/atilla/projects/DotNetProjects/Core/Karkas.Core.DataUtil.TestConsoleApp/azmanStore3.xml" />

  </connectionStrings>


</configuration>