<appSettings>

  <add key = "RaporWebServiceSecurityModel" value = "NTLM"/>
  <add key = "RaporSunucuURL" value = "http://10.2.37.16/reportserver/reportservice.asmx"/>
  <add key = "UseDefaultCredentials" value = "true"/>
  <!--Eğer default credential kullanılmayacak ise UseDefaultCredentials value false olur ve
  RaporCredentialsDomain, RaporUser, RaporPassword value ları setlenir
  <add key = "RaporCredentialsDomain" value = "INTDOMAIN"/>
  <add key = "RaporUser" value = "RaporUser"/>
  <add key = "RaporPassword" value = "RaporUser"/>-->

</appSettings>