  <connectionStrings >
    <add name="Main"
       connectionString="Integrated Security=True;Persist Security Info=False;Initial Catalog=KARKAS_ORNEK;Data Source=.\SQLSERVER2008R2" />
    <add name="LocalPolicyStore2"
         connectionString="msxml://D:/atilla/projects/DotNetProjects/Core/Karkas.Core.DataUtil.TestConsoleApp/azmanStore3.xml" />

  </connectionStrings>